@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply no-underline;
  }
  p {
    @apply m-0;
  }
  button {
    @apply bg-[none] border-[none] p-0 ;
  }
  img {
    @apply max-w-none
  }
  .wrapper {
    @apply relative w-full xl:w-[1180px] mx-auto px-5 xl:px-0;
  }
  .input-check {
    @apply relative appearance-none w-5 h-5 border rounded cursor-pointer border-solid border-[#73A2FF] checked:border-[#73A2FF] checked:bg-[url("/img/Icons/checked-small\_icon.svg")] checked:bg-no-repeat checked:bg-center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brif-labels input:checked ~ .brif-labels__radio img {
  opacity: 1;
  transition: all 0.4s;
}